h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
    color: #fff;
}
h2 {
    color: #633991;
}
h3 {
    color: #633991;
    font-size: 33px;
    font-weight: 500;
}
h4 {
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}
a {
    color: #e38cb7;
}
p {
    color: #959094;
}
small {
    color: #959094;
    text-transform: uppercase;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
/* header */
header {
    text-align: center;
}
.fixed-top {
    background-color: rgb(74, 13, 143);
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
}
.fixed-top a {
    text-transform: uppercase;
}
a.nav-link.active {
    position: relative;
}
.fixed-top a.nav-link.active:after{
    content: "";
    border-bottom: 2px solid #cd99d4;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
}
.nav-item a {
    color: #fff;
}
.nav-link {
    font-size: 14px;
}
.nav, .navbar-brand {
    padding: .5rem 1rem;
}
.logo {
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}
.bg-gradient {
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
}
.btn {
    font-size: 12px;
}
/* banner */
.header-title {
    margin-top: 3rem;
}
.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}
.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}
.banner {
    height: 400px;
}
.jumbotron {
    background: none;
}
@media (min-width: 576px) {
.jumbotron {
    padding: 4rem 2rem 0;
}}
.img-holder {
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
}
/* partners */
.partners {
    height: auto;
    padding: 50px;
    text-align: center;
}
/* media */
.highlights {
    background-color: #faf6fb;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.highlights small {
    color: #998a9b;
}
.card {
    text-align: left;
    margin-top: 40px;
}
.card-body {
    padding: .45rem;
}
.card-text {
    font-size: 14px;
}
.b-l:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    top: 0;
    bottom: 0;
    left: 0;
}
.media .icon-box {
    box-shadow: none;
}
/* discover */
.discover img {
    position: relative;
    margin-top: -150px;
    z-index: -1;
}
.icon-box {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 90px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #fff;
}
.icon-box img {
    width: 70px;
    height: 70px;
    margin-top: 0px;
    z-index: 1;
}
.card-discover {
    position: relative;
    align-self: center;
    text-align: justify;
}
.discover, .app {
    padding-top: 80px;
    padding-bottom: 80px;
}
/* features */
.second-menu a.nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    color: #633991;
}
.second-menu a.nav-link {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: #b5a4c8;
    background: #f5eff7;
}
.nav.nav-tabs.nav-justified {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.lead {
    text-align: center;
    color: #fff;
}
.btn-primary {
    border-radius: 3px;
    background-image: linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}
a.btn.btn-primary {
    text-transform: uppercase;
}
.text-left {
    text-align: left;
}
.text-grafic {
    padding: 48px;
}
.text-grafic p {
    line-height: 1.8;
}
.card-block {
    padding: 0;
}
.second-menu .nav-item {
    width: 25%;
}
.second-menu .nav-item a {
    color: #633991;
}
.white {
    background-color: #fff;
}
.pink {
    color: #e38cb7;
    line-height: 1.8;
}
/* advantages */
.list {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #f8e3f0;
}
.not-bottom {
    border-bottom: none;
}
.advantages {
    align-self: center;
}
.list:hover .circle-icon {
    background-color: #f5378e;
    color: #fff;
}
.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    color: #f5378e;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
    align-self: center;
}
.mb-1 {
    text-align: left;
}
.phone {
    max-width: 100%;
    height: auto;
}
/* pricing */
.pricing {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.card.pricing {
    padding: 0px;
}
.card.pricing.popular {
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    color: #633991;
}
.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}
.card.pricing .list-group-item {
    border: 0;
    color: #959094;
    padding: 1.05rem 1.25rem;
    text-align: center;
}
.card.pricing .card-body {
    padding: 1.75rem;
}
.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: #633991;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}
.list-group-item {
    background: none;
}
.list-group a {
    border: none;
    border-bottom: 1px solid #f8e3f0;
}
.card.pricing .list-group-item del {
    color: #d9d3d8;
}
/* customers */
.customers {
    text-align: center;
}
.mb-2 {
    margin-bottom: .5rem;
}
.text-primary {
    color: #e38cb7 !important;
}
.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}
/* faq */
.faq {
    text-align: center;
    padding-bottom: 80px;
}
.faq-text {
    text-align: left;
}
.faq-b {
    margin-bottom: 3rem;
}
.h-bot {
    margin-bottom: 1rem;
}
.p-bot {
    margin-bottom: 3rem;
}
/* download anywhere */
.download {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.download .icon-box {
    border-radius: 1px;
    margin-left: 45%;
    padding: 6px 4px;
    width: 70px;
    border-radius: 3px;
}
.download .icon-box img {
    width: 60px;
    height: auto;
    margin-top: 0px;
    z-index: 1;
}
.downl {
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}
.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}
.text-primary small {
    color: #e38cb7;
}
/* social */
.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}
/* footer */
.f-1 {
    background-color: #faf6fb;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.footer a {
    text-transform: uppercase;
}
